<div class="row">
<div class="col-sm-7">
<h1> Hello First Timers</h1>
<p><h2>Below Are the Recreational Weed Stores In The Greater Chicagoland Area. 
When you click in each store you will see how other others have ranked them based 
on Helpfulness, Friendliness & Duration of visit.
This will help you choose the right store so you don't feel overwhelmed and can make safe choices.</h2></p> 

<% for shop in @shops %>
    <p><a href="/shops/<%= shop[:id] %>"><%= shop[:title] %></a></p>
 <% end %>
</div>


 <div class="col-sm-5">
        <i class="fas fa-cannabis fa-10x" style="color:green;"></i>
</div>