<div class="row">
    <div class="col-sm-8">
        <h1><%= @shop[:title] %></h1>

        <p><%= @shop[:description] %></p>

<form action="/shops/<%= @shop[:id] %>/rankings/ranked">
  <div class="form-group">
    <label for="exampleFormControlSelect2">Was The Staff Helpful?</label>
    <select multiple class="form-control" name="helpful">
    <option value="1">Yes</option>
    <option value="0">No</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Was The Staff Friendly?</label>
    <select multiple class="form-control" name="friendly">
    <option value="1">Yes</option>
    <option value="0">No</option>
    </select>
  </div>
<div class="form-group">
    <label for="exampleFormControlSelect2">Did It Less Than 2 Hours?</label>
    <select multiple class="form-control" name="time">
    <option value="1">Yes</option>
    <option value="0">No</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>