h9 {color: red}
.btn-danger {background-color: green; border-color: green}
.btn-danger:hover {background-color: whitesmoke; color: green; border-color: green}
.btn-danger.active {background-color: green; border-color: green}
h2 {font-size: 25px}
h1 {color: green; font-size: 50px}
.fa-10x {font-size:300px}
a {color: green}
a:hover {color: green}
a:active {color: green}
.btn-primary {background-color: green; border-color: green}
.btn-primary:hover {background-color: whitesmoke; color: green; border-color: green}
.btn-primary.active {background-color: green; border-color: green
h3 {color: green; font-size: 30px}